@use '../abstracts' as *;

.card {
  padding: $space-6;
  border: $border-width-1 solid $color-border;
  border-radius: $radius-lg;
  background-color: $color-surface-card;
  transition:
    border-color $motion-fast,
    box-shadow $motion-fast;

  &--sm {
    padding: $space-4;
  }

  &__title {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    font-weight: 500;
    margin-bottom: $space-2;
  }

  &__body {
    color: $color-foreground-secondary;
    font-size: $font-size-body-sm;
    line-height: $line-height-body-sm;
  }

  &.is-selected {
    border-color: $color-primary;
  }
}
